.image__wrapper {
	max-width: 900px;
	margin: auto;
}

.image__wrapper img {
	width: 100%;
	height: 100%;
	padding: 50px 30px 0px;
	margin-bottom: 50px;
}

/*  */

@media screen and (min-width: 1200px) {
	.image__wrapper img {
		padding: 0;
		padding-top: 30px;
	}
}
