@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,400;0,900;1,400&display=swap");

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
}

h1,
h2 {
	font-family: "Bebas Neue", sans-serif;
}

li,
ul,
a {
	list-style: none;
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 900px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}

/* Overwrite default swipper css styles */
.swiper-pagination > .swiper-pagination-bullet {
	background-color: gray;
	opacity: 0.6;
}

.swiper-pagination > .swiper-pagination-bullet-active {
	background-color: white;
	opacity: 1;
}
